body {
    font-family: "Montserrat", serif;
    background-color: #F0EFF4;
}

.container {
    padding: 20px 20px 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    margin: 0px auto;
}

.content {
    min-height: calc(100vh - 330px);
}

.header {
    margin-bottom: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__backwards {
    display: block;
    margin-right: auto;
}

.header__arrow {
    width: 32px;
    height: 32px;
}

.header__words {
    font-size: 16px;
    font-weight: 700;
    margin-right: auto;
}

/* .ac {} */

.switch {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
}

/*скрыть стандартное оформление чекбокса*/
.switch__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #F0EFF4;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
}

.switch__slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -1px;
    top: -1px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #F0EFF4;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
}

/*стиль при фокусе на компонент*/
.switch__input:focus+.switch__slider {
    box-shadow: 0 0 1px rgba(102, 161, 255, 0.5);
}

/*стили при выборе флага компонента*/
.switch__input:checked+.switch__slider {
    background-color: rgba(102, 161, 255, 0.5);
}

.switch__input:checked+.switch__slider::before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
}

.ac__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* .ac_left {} */

.ac__up {
    margin-bottom: 20px;
}

.ac__header {
    font-size: 16px;
    font-weight: 700;
}

.ac__down-header {
    font-size: 16px;
    font-weight: 700;
}

.ac__down-text {
    font-size: 12px;
}

.air__snowflake {
    width: 80px;
    height: 80px;
}

.air__bottom {
    margin-bottom: 40px;
}

.air__bottom-text {
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
}

.air__select {
    background-color: rgba(102, 161, 255, 0.5);
    width: 140px;
    height: 40px;
    border: 1px solid #000000;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
}

.air__select:focus {
    outline: none;
}

.air__option {
    background-color: #F0EFF4;
    font-weight: 700;

}

.air__option:not(:checked) {
    background-color: rgba(102, 161, 255, 0.5);
}

.air__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* .air__mode {
} */

.air__changes {
    display: inline-block;

    /* align-self: center; */
}

.air__indec {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    /* padding: 10px; */
    font-size: 30px;
    font-weight: 500;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(102, 161, 255, 0.5);
    transition: 0.2s;
}

.air__indec:hover {
    transition: 0.2s;
    transform: scale(1.05);
}


.footer {
    background-color: rgba(102, 161, 255, 0.5);
    border-radius: 50px 50px 0px 0px;
}

.footer__container {
    padding: 40px 20px 20px;
    border-radius: 50px 50px 0px 0px;
    border: 1px solid #000000;
}

.footer__header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}


.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__num {
    font-size: 16px;
    font-weight: 700;
    color: #F0EFF4;
}

.footer__let {
    font-size: 12px;
    font-weight: 400;
}

.footer__hr {
    height: 2px;
    margin: 20px 0;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
    background-color: #F0EFF4;
    opacity: 1;
}

@media (min-width: 1024px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0px;
        max-width: 540px;
    }
}

@media (max-width: 540px) {
    .container {
        padding: 0px;
        max-width: 720px;
    }

    .header {
        padding: 0px 20px;
    }

    .ac {
        padding: 0px 20px;
    }
     
    .header__nav {
        margin-top: 20px;
    }
}