<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="pages/signin/style.css">
    <title>Sing In</title>
</head>

<body>
    <div class="upper">
        <div class="container">
            <img class="singin__logo" src="img/logo.png" alt="logo">
            <div class="singin__data">
                <input style="background-image: url('img/email.png')" class="singin__input" type="text"
                    placeholder="Email">
                <input style="background-image: url('img/password\ 1.png')" class="singin__input" type="password"
                    placeholder="Password">
            </div>
            <button class="singin__btn">Sing In</button>
        </div>
    </div>

    <div class="footer">
        <div class="text__block">
            <div class="text__up">Don't have an account yet?</div>
            <a class="text__down" href="/singup">Create an account</a>
        </div>
    </div>
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script src="/pages/signin/script.js"></script> -->
</body>

</html>