@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"),
        local("Montserrat-Regular"),
        url("../fonts/Montserrat-Regular.svg") format("svg"),
        url("../fonts/Montserrat-Regular.woff") format("woff"),
        url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Bold"),
        local("Montserrat-Bold"),
        url("../fonts/Montserrat-Bold.woff") format("woff"),
        url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", serif;
    background-color: #F0EFF4;
}

.upper{
    background-color: rgba(102, 161, 255, 0.5);
    border-radius: 0px 0px 50px 50px;

}

.container {
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singin__logo {
    padding-bottom: 40px;
}

.singin__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.singin__input {
    width: 240px;
    height: 37px;
    margin: 10px 0px;
    padding-left: 15px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.singin__btn {
    transition: 0.2s;
    position: absolute;
    top: 462px;
    width: 160px;
    height: 40px;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}

.singin__btn:hover {
    transform: scale(1.2);
    background: #ffffff;
    box-shadow: inset 0 0 0 20px #edece8;
}

.text__block {
    margin-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__up {
    font-size: 14px;
    color: #767676;
    padding-bottom: 5px;
}

.text__block:focus {
    background-image: none;
}

.text__down {
    text-decoration-line: underline;
    color: #000000;
    font-size: 14px;
}