body {
    font-family: "Montserrat", serif;
    background-color: #F0EFF4;
}

.container {
    padding: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper{
    background-color: rgba(102, 161, 255, 0.5);
    border-radius: 0px 0px 50px 50px;
    margin: 0px auto;
    border: 1px solid #000000;
    border-radius: 0px 0px 50px 50px;
}

.singin__logo {
    padding-bottom: 40px;
}

.singin__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.singin__input_e::placeholder {
    color: #cccccc;
}

.singin__input_p::placeholder {
    color: #cccccc;
}

.singin__input_e {
    width: 240px;
    height: 37px;
    margin: 10px 0px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 10px;
    background-image: url("../../img/email.png");
    background-position: 200px 5px;
    background-repeat: no-repeat;
}

.singin__input_p {
    width: 240px;
    height: 37px;
    margin: 10px 0px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 10px;
    background-image: url("../../img/password.png");
    background-position: 200px 5px;
    background-repeat: no-repeat;
}

.singin__btn {
    transition: 0.2s;
    position: absolute;
    top: 462px;
    width: 160px;
    height: 40px;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}

.singin__btn:hover {
    transform: scale(1.1);
    background: #ffffff;
    box-shadow: inset 0 0 0 20px #edece8;
}

.text__block {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__up {
    font-size: 14px;
    color: #767676;
    padding-bottom: 5px;
}

.text__block:focus {
    background-image: none;
}

.footer {
    margin: 0px auto;
}

.text__down {
    text-decoration-line: underline;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.5;
}

@media (min-width: 1024px) {
    .upper, .footer {
        max-width: 720px;
    }
}