<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="/pages/cv/style.css">
    <title>CV</title>
</head>

<body>
    <h1>Facial Detection</h1>
    <div class="wrapper">
        <div class="loader">Распознаю ваше лицо (ಠ_ಠ)...</div>
        <video id="video" width="720" height="576" autoplay muted></video>
    </div>
    <script src="/pages/cv/face-api.min.js"></script>
    <script src="/pages/cv/main.js"></script>
</body>

</html>