<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="pages/venting/style.css">
    <title>Venting Control</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="header__nav">
                <a class="header__backwards" href="/">
                    <img class="header__arrow" src="img/arrow.svg" alt="arrow">
                </a>
                <div class="header__words">Venting Control</div>
            </nav>
        </header>
        <section class="venting">
            <div class="vent__section">
                <div class="vent__left">
                    <div class="vent__up">
                        <div class="vent__header">Power</div>
                        <label class="switch">
                            <input class="switch__input" type="checkbox">
                            <span class="switch__slider"></span>
                        </label>
                    </div>
                    <div class="vent__down">
                        <div class="vent__down-header">100 %</div>
                        <div class="vent__down-text">Position</div>
                    </div>
                </div>
                <img class="vent__curtans" src="img/ventilation.svg" alt="venting">
            </div>
            <div class="vent__bottom">
                <div class="vent__bottom-text">Control</div>
                <div class="vent__footer">
                    <label class="vent__label">
                        <input class="vent__input" type="number" min = "0" max = "100">
                        <span class="vent__percent">%</span>
                    </label>
                    <div class="vent__changes">
                        <button class="vent__indec">−</button>
                        <button class="vent__indec">+</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__header">Statistic</div>
            <div class="footer__line">
                <div class="footer__row">
                    <div class="footer__usage">Usage today</div>
                    <div class="footer__data">
                        <span class="footer__num">1.1</span>
                        <span class="footer__let">kWh</span>
                    </div>
                </div>
                <hr class="footer__hr">
            </div>
            <div class="footer__line">
                <div class="footer__row">
                    <div class="footer__usage">Usage this month</div>
                    <div class="footer__data">
                        <span class="footer__num">7.1</span>
                        <span class="footer__let">kWh</span>
                    </div>
                </div>
                <hr class="footer__hr">
            </div>
            <div class="footer__line">
                <div class="footer__row">
                    <div class="footer__usage">Total working hours</div>
                    <div class="footer__data">
                        <span class="footer__num">4</span>
                        <span class="footer__let">h</span>
                    </div>
                </div>
                <hr class="footer__hr">
            </div>
        </div>
    </footer>
</body>

</html>