body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Montserrat", serif;
    background-color: #F0EFF4;
}

.container {
    padding: 20px 20px 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}

.header {
    margin-bottom: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__backwards {
    display: block;
    margin-right: auto;
}

.header__arrow {
    width: 32px;
    height: 32px;
}

.header__words {
    font-size: 16px;
    font-weight: 700;
    margin-right: auto;
}

/* .venting {} */

.switch {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
}

/*скрыть стандартное оформление чекбокса*/
.switch__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #F0EFF4;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
}

.switch__slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -1px;
    top: -1px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #F0EFF4;
    transition: .4s;
    cursor: pointer;
    box-sizing: border-box;
}

/*стиль при фокусе на компонент*/
.switch__input:focus+.switch__slider {
    box-shadow: 0 0 1px rgba(102, 161, 255, 0.5);
}

/*стили при выборе флага компонента*/
.switch__input:checked+.switch__slider {
    background-color: rgba(102, 161, 255, 0.5);
}

.switch__input:checked+.switch__slider::before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
}

.vent__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* .vent__left {} */

.vent__up {
    margin-bottom: 20px;
}

.vent__header {
    font-size: 16px;
    font-weight: 700;
}

.vent__down-header {
    font-size: 16px;
    font-weight: 700;
}

.vent__down-text {
    font-size: 12px;
}

.vent__curtans {
    width: 80px;
    height: 80px;
}

.vent__bottom {
    margin-bottom: 40px;
}

.vent__bottom-text {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}


.vent__footer {
    display: flex;
    justify-content: space-between;
}

.vent__input {
    background-color: rgba(102, 161, 255, 0.5);
    width: 140px;
    height: 40px;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
}

.vent__changes {
    display: inline-block;
}

.vent__indec {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    /* padding: 10px; */
    font-size: 30px;
    font-weight: 500;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(102, 161, 255, 0.5);
}


.footer {
    background-color: rgba(102, 161, 255, 0.5);
    border-radius: 50px 50px 0px 0px;
}

.footer .container {
    padding: 40px 20px 20px;
}

.footer__header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer__hr {
    height: 2px;
    margin: 20px 0;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__num {
    font-size: 16px;
    font-weight: 700;
    color: #F0EFF4;
}

.footer__let {
    font-size: 12px;
    font-weight: 400;
}