<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="pages/home/style.css">
    <title>Smart Home</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="header__nav">
                <img class="header__burger" src="img/burgerMenu.svg" alt="burger-menu">
                <a class="header__avatar" href="/signup">
                    <img class="header__image" src="img/avatar.svg" alt="avatar">
                </a>
            </nav>
            <div class="header__greet">
                <div class="header__name">Hi Alexander</div>
                <div class="header__welcome">Welcome to your smart home</div>
            </div>
        </header>
        <article class="weather">
            <div class="weather__container">
                <img class="weather__img" src="img/cloudy.svg" alt="weather">
                <div class="weather__info">
                    <div class="weather__header">Clouds</div>
                    <div class="weather__text">Tuesday, 13 April 2023</div>
                </div>
            </div>
            <div class="weather__row">
                <div class="weather__block">
                    <div class="weather__article">Indor Temp</div>
                    <div class="weather__bg">
                        <div class="weather__data">
                            <span class="weather__tempIn">---</span> °C
                        </div>
                    </div>
                </div>
                <div class="weather__block">
                    <div class="weather__article">Humidity</div>
                    <div class="weather__bg">
                        <div class="weather__data">
                            <span class="weather__hum">---</span>%
                        </div>
                    </div>
                </div>
                <div class="weather__block">
                    <div class="weather__article">Outdor Temp</div>
                    <div class="weather__bg">
                        <div class="weather__data">
                            <span class="weather__tempOut">---</span> °C
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <ul class="control__list">
            <li class="control__item" data-tab="1">Living Room</li>
            <li class="control__item" data-tab="2">Bedroom</li>
            <li class="control__item" data-tab="3">Dinning Room</li>
            <li class="control__item" data-tab="4">Courtyard</li>
        </ul>
        <section class="control">
            <a class="control__tile group1 group2 group3" href="/light">
                <div class="control__up">
                    <img class="control__image" src="img/lamp.svg" alt="lamp">
                    <label class="switch">
                        <input class="switch__input" type="checkbox" id="light">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <div class="control__info">
                    <div class="control__header">Light</div>
                    <div class="control__text">20%</div>
                </div>
            </a>
            <a class="control__tile group1 group2" href="/ac">
                <div class="control__up">
                    <img class="control__image" src="img/snowflake.png" alt="AC">
                    <label class="switch">
                        <input class="switch__input" type="checkbox" id="ac">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <div class="control__info">
                    <div class="control__header">AC</div>
                    <div class="control__text">18 °C</div>
                </div>
            </a>
            <a class="control__tile group1 group2" href="/blinds">
                <div class="control__up">
                    <img class="control__image" src="img/curtains.svg" alt="blinds">
                    <label class="switch">
                        <input class="switch__input" type="checkbox" id="blinds">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <div class="control__info">
                    <div class="control__header">Blinds</div>
                    <div class="control__text">100%</div>
                </div>
            </a>
            <a class="control__tile group1 group2 group3" href="/venting">
                <div class="control__up">
                    <img class="control__image" src="img/ventilation.svg" alt="venting">
                    <label class="switch">
                        <input class="switch__input" type="checkbox" id="venting">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <div class="control__info group1">
                    <div class="control__header">Venting</div>
                    <div class="control__text">25%</div>
                </div>
            </a>
            <a class="control__tile group1 group4" href="/cv">
                <div class="control__up">
                    <img class="control__image" src="img/cv.svg" alt="CV">
                    <label class="switch">
                        <input class="switch__input" type="checkbox" id="cv">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <div class="control__info">
                    <div class="control__header">CV</div>
                    <div class="control__text">45 °</div>
                </div>
            </a>
            <a class="control__tile group1" href="/robot">
                <div class="control__up">
                    <img class="control__image" src="img/robot.svg" alt="robot">
                    <label class="switch">
                        <input class="switch__input" type="checkbox" id="robot">
                        <span class="switch__slider"></span>
                    </label>
                </div>
                <div class="control__info">
                    <div class="control__header">Robot</div>
                    <div class="control__text">80%</div>
                </div>
            </a>
        </section>
        <footer class="footer">
            <button class="footer__btn">Turn off all devices</button>
        </footer>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/pages/home/script.js"></script>
</body>

</html>