<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="pages/blinds/style.css">
    <title>Blinds Control</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="header__nav">
                <a class="header__backwards" href="/">
                    <img class="header__arrow" src="img/arrow.svg" alt="arrow">
                </a>
                <div class="header__words">Blinds Control</div>
            </nav>
        </header>
        <section class="blinds">
            <div class="blinds__section">
                <div class="blinds__left">
                    <div class="blinds__up">
                        <div class="blinds__header">Power</div>
                        <label class="switch">
                            <input class="switch__input" type="checkbox">
                            <span class="switch__slider"></span>
                        </label>
                    </div>
                    <div class="blinds__down">
                        <div class="blinds__down-header">100 %</div>
                        <div class="blinds__down-text">Position</div>
                    </div>

                </div>
                <img class="blinds__curtans" src="../../img/curtains.svg" alt="blinds">
            </div>
            <div class="blinds__bottom">
                <div class="blinds__bottom-text">Control</div>
                <div class="blinds__footer">
                    <label>
                        <input class="blinds__input" type="number" min="0" max="100">
                    </label>
                    <div class="blinds__changes">
                        <button class="blinds__indec">−</button>
                        <button class="blinds__indec">+</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__header">Statistic</div>
            <div class="footer__line">
                <div class="footer__row">
                    <div class="footer__usage">Usage today</div>
                    <div class="footer__data">
                        <span class="footer__num">1.1</span>
                        <span class="footer__let">kWh</span>
                    </div>
                </div>
                <hr class="footer__hr">
            </div>
            <div class="footer__line">
                <div class="footer__row">
                    <div class="footer__usage">Usage this month</div>
                    <div class="footer__data">
                        <span class="footer__num">7.1</span>
                        <span class="footer__let">kWh</span>
                    </div>
                </div>
                <hr class="footer__hr">
            </div>
            <div class="footer__line">
                <div class="footer__row">
                    <div class="footer__usage">Total working hours</div>
                    <div class="footer__data">
                        <span class="footer__num">4</span>
                        <span class="footer__let">h</span>
                    </div>
                </div>
                <hr class="footer__hr">
            </div>
        </div>
    </footer>
</body>

</html>