<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="pages/signup/style.css">
    <title>Sing Up</title>
</head>

<body>
    <div class="upper">
        <div class="container">
            <img class="singup__logo" src="img/logo.png" alt="logo">
            <div class="singup__data">
                <input class="singup__input" type="text" placeholder="Email">
                <input class="singup__input" type="password" placeholder="Password">
                <input class="singup__input" type="password" placeholder="Repeat password">
            </div>
            <button class="singup__btn">Sing Up</button>
        </div>
    </div>

    <div class="footer">
        <div class="text__block">
            <div class="text__up">Already have an account?</div>
            <a class="text__down" href="singin.html">Sign In</a>
        </div>
    </div>
</body>

</html>